/*************** General Settings ***************/

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/*************** Main scroller ***************/

.wrapper {
  background: #0d1321;

  min-width: 100%;
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(12, minmax(1em, 1fr));
  grid-auto-rows: 5em;
  grid-gap: 1rem;

  scroll-behavior: smooth;
}

/*************** Grid animation ***************/

/* #loading-grid {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
} */

/*************** Navigation icons ***************/

.wrapper #menuBar {
  grid-column: 12;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  padding: 1em;
  color: #e6b89c;
}

/*************** Hero Section ***************/

#greetingHeader1 {
  grid-column: 2 / 5;
  grid-row: 3 / 5;
  justify-self: center;
  align-self: flex-end;
  font-size: 4rem;
  color: #aa4465;

  font-family: "Space Grotesk", sans-serif;

  font-weight: 700;
  font-kerning: auto;
  padding-right: 1.75em;
}

#greetingHeader2 {
  grid-column: 2 / 6;
  grid-row: 5 / 6;
  align-self: center;
  justify-self: flex-start;
  align-self: flex-start;

  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-kerning: normal;

  font-size: 1.75rem;
  color: #e6b89c;
}

#scrollArrow {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  justify-self: center;
  align-self: flex-start;
  scale: 0.75;
  color: #aa4465;
}

#workHeaderOverlay {
  grid-column: 2 / 11;
  grid-row: 10 / 12;
  background-color: #e6b89c;
  opacity: 0;
}

#workHeader1 {
  grid-column: 2 / 11;
  grid-row: 10 / 12;
  justify-self: center;
  align-self: center;
  font-size: 19rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: #aa4465;
  mix-blend-mode: exclusion;
}

#workHeader2 {
  grid-column: 2 / 11;
  grid-row: 13 / 14;
  justify-self: center;
  align-self: flex-start;

  font-family: "Lexend Deca", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-kerning: normal;
  font-size: 1.25rem;

  max-width: 65ch;
  color: #e6b89c;
}

#box1 {
  width: 5em;
  height: 5em;

  grid-column: 9 / 10;
  grid-row: 17 / 18;
  justify-self: flex-end;
  align-self: center;
}

#box2 {
  width: 5em;
  height: 5em;

  grid-column: 10 / 11;
  grid-row: 17 / 18;
  justify-self: flex-start;
  align-self: center;
}

#box3 {
  width: 5em;
  height: 5em;

  grid-column: 10 / 11;
  grid-row: 18 / 19;
  justify-self: flex-start;
  align-self: flex-start;
}

#box4 {
  width: 5em;
  height: 5em;

  grid-column: 2 / 3;
  grid-row: 20 / 22;
  justify-self: flex-end;
  align-self: flex-end;
}

#box5 {
  width: 5em;
  height: 5em;

  grid-column: 2 / 3;
  grid-row: 22 / 23;
  justify-self: flex-end;
  align-self: flex-start;
}

#box6 {
  width: 5em;
  height: 5em;

  grid-column: 3 / 4;
  grid-row: 22 / 23;
  justify-self: flex-start;
  align-self: flex-start;
}

#box1,
#box2,
#box3 {
  background-color: #5e9a85;
}

#box4,
#box5,
#box6 {
  width: 5em;
  background-color: #aa4465;
}

.wrapper #camera {
  background: url("img/camera.png");
  background-position: center;
  background-size: cover;
  grid-column: 3 / 10;
  grid-row: 18 / 22;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
  filter: brightness(0.9);
}

#camera:hover {
  filter: brightness(1);
}

#projectDescription {
  font-size: 1.5rem;
  grid-column: 2 / 12;
  grid-row: 23 / 24;
  justify-self: center;
  align-self: center;
  color: #aa4465;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

#projectParagraph {
  font-size: 1.25rem;
  grid-column: 2 / 12;
  grid-row: 24 / 25;
  justify-self: center;
  align-self: flex-start;
  color: #e6b89c;

  font-family: "Roboto", sans-serif;
  font-size: 1.125;
  font-weight: 400;
  line-height: 1.125;
  max-width: 55ch;
}

#whiteSpace {
  grid-column: 1 / 13;
  grid-row: 23 / 32;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(6, minmax(1em, 1fr));
    grid-gap: 0;
  }

  .wrapper #menuBar {
    grid-column: 6;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    scale: 0.85;
    padding: 1em;
    scale: 0.85;
  }

  #greetingHeader1 {
    grid-column: 2 / 6;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: flex-end;
    font-size: 2.5rem;
    line-height: 1.125;
    padding-right: 1.4em;
  }

  #greetingHeader2 {
    grid-column: 2 / 6;
    grid-row: 4 / 5;
    justify-self: flex-start;
    align-self: flex-start;
    font-size: 1rem;
    padding-top: 0.5em;
    padding-right: 0.5em;
  }

  #scrollArrow {
    grid-column: 5 / 6;
    grid-row: 4;
    justify-self: center;
    align-self: flex-start;
    scale: 0.5;
    padding-left: 0.1em;
  }

  #workHeaderOverlay {
    grid-column: 4 / 7;
    grid-row: 8 / 10;
    opacity: 0;
  }

  #workHeader1 {
    grid-column: 2 / 6;
    grid-row: 8 / 10;
    align-self: center;
    font-size: 4rem;
    font-weight: 800;
    font-kerning: auto;
    padding-bottom: 0.15rem;
    padding-left: 0.5rem;
  }

  #workHeader2 {
    grid-column: 1 / 7;
    grid-row: 10 / 12;
    justify-content: center;
    align-self: center;

    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-kerning: normal;
    font-size: 1rem;
    line-height: 1.2;
    max-width: 28ch;
  }

  .wrapper #camera {
    background: url("img/camera.png");
    background-position: center;
    background-size: cover;
    grid-column: 2 / 6;
    grid-row: 16 / 18;
  }

  #box1 {
    grid-column: 5;
    grid-row: 15 / 16;
    justify-self: flex-end;
    align-self: flex-end;
  }

  #box2 {
    grid-column: 6;
    grid-row: 15 / 16;
    justify-self: flex-start;
    align-self: flex-end;
    padding: 1em;
  }

  #box3 {
    grid-column: 6;
    grid-row: 16 / 17;
    justify-self: flex-start;
    align-self: flex-start;
  }

  #box4 {
    grid-column: 1;
    grid-row: 17 / 18;
    justify-self: flex-end;
    align-self: flex-end;
  }

  #box5 {
    grid-column: 1;
    grid-row: 18 / 19;
    justify-self: flex-end;
    align-self: flex-start;
  }

  #box6 {
    grid-column: 2;
    grid-row: 18 / 19;
    justify-self: flex-start;
    align-self: flex-start;
  }

  #projectDescription {
    grid-column: 1 / 7;
    grid-row: 19 / 20;
    font-size: 1.5rem;

    justify-self: center;
    align-self: center;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
  }

  #projectParagraph {
    display: flex;
    grid-column: 1 / 7;
    grid-row: 20 / 21;
    justify-self: center;
    align-self: flex-start;
    text-align: left;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    max-width: 30ch;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(12, minmax(2em, 1fr));
    grid-gap: 0;
  }

  .wrapper #menuBar {
    grid-column: 11 / 13;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    scale: 1.25;
    padding: 1em;
  }

  #greetingHeader1 {
    grid-column: 2 / 8;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: flex-start;
    font-size: 3.5rem;
    line-height: 1.2;
  }

  #greetingHeader2 {
    grid-column: 2 / 8;
    grid-row: 4 / 5;
    justify-self: flex-start;
    align-self: flex-start;
    font-size: 1rem;
  }

  #scrollArrow {
    grid-column: 7 / 8;
    grid-row: 4 / 5;
    justify-self: center;
    align-self: center;
    scale: 0.5;
  }

  #workHeaderOverlay {
    grid-column: 1 / 13;
    grid-row: 8 / 10;
    opacity: 0;
  }

  #workHeader1 {
    grid-column: 2 / 12;
    grid-row: 8 / 10;
    align-self: center;
    font-size: 10rem;
    font-weight: 800;
    font-kerning: auto;
    padding-bottom: 0.15em;
  }

  #workHeader2 {
    grid-column: 3 / 11;
    grid-row: 10 / 12;
    justify-content: center;
    align-self: center;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-kerning: normal;
    font-size: 1rem;
    line-height: 1.25;
  }

  .wrapper #camera {
    background: url("img/camera.png");
    background-position: center;
    background-size: cover;
    grid-column: 3 / 11;
    grid-row: 16 / 20;
  }

  #box1 {
    grid-column: 10;
    grid-row: 15 / 16;
    justify-self: flex-end;
    align-self: flex-end;
  }

  #box2 {
    grid-column: 11;
    grid-row: 15 / 16;
    justify-self: flex-start;
    align-self: flex-end;
    padding: 1em;
  }

  #box3 {
    grid-column: 11;
    grid-row: 16 / 17;
    justify-self: flex-start;
    align-self: flex-start;
  }

  #box4 {
    grid-column: 2 / 3;
    grid-row: 19 / 20;
    justify-self: flex-end;
    align-self: flex-end;
  }

  #box5 {
    grid-column: 2 / 3;
    grid-row: 20 / 21;
    justify-self: flex-end;
    align-self: flex-start;
  }

  #box6 {
    grid-column: 3 / 4;
    grid-row: 20 / 21;
    justify-self: flex-start;
    align-self: flex-start;
  }

  #projectDescription {
    grid-column: 4 / 10;
    grid-row: 21 / 22;
    font-size: 1.5rem;

    justify-self: center;
    align-self: center;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
  }

  #projectParagraph {
    display: flex;
    grid-column: 3 / 11;
    grid-row: 22 / 24;
    justify-self: center;
    align-self: flex-start;
    text-align: left;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 30ch;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(12, minmax(2em, 1fr));
    grid-gap: 0;
  }

  .wrapper #menuBar {
    grid-column: 11 / 13;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    scale: 1.5;
    padding: 1.5em;
  }

  #greetingHeader1 {
    grid-column: 2 / 6;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: flex-end;
    font-size: 3.5rem;
    line-height: 1.125;
    padding-right: 0.5em;
  }

  #greetingHeader2 {
    grid-column: 2 / 7;
    grid-row: 4 / 5;
    justify-self: flex-start;
    align-self: flex-start;
    font-size: 1.25rem;
    padding-top: 0.25em;
  }

  #scrollArrow {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
    justify-self: flex-end;
    align-self: center;
    scale: 1.5;
  }

  #workHeaderOverlay {
    grid-column: 2 / 12;
    grid-row: 8 / 10;
    opacity: 0;
  }

  #workHeader1 {
    grid-column: 2 / 12;
    grid-row: 8 / 10;
    align-self: center;
    font-size: 9rem;
    font-weight: 800;
    font-kerning: auto;
  }

  #workHeader2 {
    grid-column: 2 / 12;
    grid-row: 10 / 12;
    justify-content: center;
    align-self: center;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-kerning: normal;
    font-size: 1rem;
    line-height: 1.25;
  }

  .wrapper #camera {
    background: url("img/camera.png");
    background-position: center;
    background-size: cover;
    grid-column: 3 / 11;
    grid-row: 16 / 20;
  }

  #box1 {
    grid-column: 10;
    grid-row: 15 / 16;
    justify-self: flex-end;
    align-self: flex-end;
  }

  #box2 {
    grid-column: 11;
    grid-row: 15 / 16;
    justify-self: flex-start;
    align-self: flex-end;
    padding: 1em;
  }

  #box3 {
    grid-column: 11;
    grid-row: 16 / 17;
    justify-self: flex-start;
    align-self: flex-start;
  }

  #box4 {
    grid-column: 2 / 3;
    grid-row: 19 / 20;
    justify-self: flex-end;
    align-self: flex-end;
  }

  #box5 {
    grid-column: 2 / 3;
    grid-row: 20 / 21;
    justify-self: flex-end;
    align-self: flex-start;
  }

  #box6 {
    grid-column: 3 / 4;
    grid-row: 20 / 21;
    justify-self: flex-start;
    align-self: flex-start;
  }

  #projectDescription {
    grid-column: 4 / 10;
    grid-row: 21 / 22;
    font-size: 1.5rem;

    justify-self: center;
    align-self: center;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
  }

  #projectParagraph {
    display: flex;
    grid-column: 2 / 12;
    grid-row: 22 / 24;
    justify-self: center;
    align-self: flex-start;
    text-align: left;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    max-width: 30ch;
  }
}
