/*************** General Settings ***************/

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/*************** Main scroller ***************/

.wrapper {
  background: #0d1821;

  min-width: 100%;
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 5em;
  grid-gap: 1rem;

  scroll-behavior: smooth;
}

/*************** Grid animation ***************/

/* #loading-grid {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
} */

/*************** Navigation icons ***************/

.wrapper #menuBar {
  grid-column: 12;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  scale: 1.5;
  padding: 1em;
  color: #fba94b;
}

/* .parallax #behance-icon {
  width: 100%;
  height: 3rem;
  grid-column: 10 / 11;
  grid-row: 1 / 2;
  object-fit: contain;
  background: none;
  align-self: center;
  justify-self: center;
}

#behance-icon:hover,
#instagram-icon:hover,
#github-icon:hover {
  cursor: pointer;
}

/*************** Hero Section ***************/

#greetingHeader1 {
  grid-column: 2 / 13;
  grid-row: 3 / 4;
  justify-self: flex-start;
  align-self: flex-start;
  font-size: 4rem;
  color: #fba94b;

  font-family: "Space Grotesk", sans-serif;

  font-weight: 700;
  font-kerning: auto;
}

#greetingHeader2 {
  grid-column: 2 / 9;
  grid-row: 4 / 5;
  align-self: center;
  justify-self: flex-start;
  align-self: flex-start;

  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-kerning: normal;

  font-size: 1.75rem;
  color: #f7f3e3;
}

#scrollArrow {
  grid-column: 9 / 10;
  grid-row: 4 / 5;
  justify-self: flex-start;
  align-self: center;
  scale: 1;
  color: #fba94b;
}

#workHeader1 {
  grid-column: 1 / 13;
  grid-row: 10 / 12;
  justify-self: center;
  align-self: center;
  font-size: 19rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: #0d1821;
  font-kerning: auto;
}

#workHeader2 {
  grid-column: 2 / 12;
  grid-row: 13 / 14;
  justify-self: center;
  align-self: flex-start;

  font-family: "Lexend Deca", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-kerning: normal;
  font-size: 1.25rem;

  max-width: 65ch;
  color: #f7f3e3;
}

#workHeaderOverlay {
  grid-column: 2 / 12;
  grid-row: 10 / 12;
  background-color: #fba94b;
  opacity: 0;
}

#box1 {
  width: 5em;
  height: 5em;

  grid-column: 9 / 10;
  grid-row: 17 / 18;
  justify-self: flex-end;
  align-self: center;
}

#box2 {
  width: 5em;
  height: 5em;

  grid-column: 10 / 11;
  grid-row: 17 / 18;
  justify-self: flex-start;
  align-self: center;
}

#box3 {
  width: 5em;
  height: 5em;

  grid-column: 10 / 11;
  grid-row: 18 / 19;
  justify-self: flex-start;
  align-self: flex-start;
}

#box4 {
  width: 5em;
  height: 5em;

  grid-column: 3 / 4;
  grid-row: 20 / 22;
  justify-self: flex-end;
  align-self: flex-end;
}

#box5 {
  width: 5em;
  height: 5em;

  grid-column: 3 / 4;
  grid-row: 22 / 23;
  justify-self: flex-end;
  align-self: flex-start;
}

#box6 {
  width: 5em;
  height: 5em;

  grid-column: 4 / 5;
  grid-row: 22 / 23;
  justify-self: flex-start;
  align-self: flex-start;
}

#box1,
#box2,
#box3 {
  background-color: #5b8e7d;
}

#box4,
#box5,
#box6 {
  width: 5em;
  background-color: #bc4b51;
}

.wrapper #camera {
  background: url("img/camera.png");
  background-position: center;
  background-size: cover;
  grid-column: 4 / 10;
  grid-row: 18 / 22;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
  filter: brightness(0.9);
}

#camera:hover {
  filter: brightness(1);
}

#projectDescription {
  font-size: 1.5rem;
  grid-column: 2 / 12;
  grid-row: 23 / 24;
  justify-self: center;
  align-self: center;
  color: #fba94b;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

#projectParagraph {
  font-size: 1.25rem;
  grid-column: 2 / 12;
  grid-row: 24 / 25;
  justify-self: center;
  align-self: flex-start;
  color: #f7f3e3;

  font-family: "Roboto", sans-serif;
  font-size: 1.125;
  font-weight: 400;
  line-height: 1.125;
  max-width: 55ch;
}

#whiteSpace {
  grid-column: 1 / 13;
  grid-row: 23 / 32;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
  .wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(6, minmax(1em, 1fr));
    grid-gap: 0;
  }

  .wrapper #menuBar {
    grid-column: 6;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    scale: 0.85;
    padding: 1em;
    color: #fba94b;
  }

  #greetingHeader1 {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: flex-start;
    font-size: 3.5rem;
    line-height: 1.2;
  }

  #greetingHeader2 {
    grid-column: 2 / 6;
    grid-row: 4 / 5;
    justify-self: flex-start;
    align-self: flex-start;
    font-size: 1rem;
    color: #f7f3e3;
  }

  #scrollArrow {
    grid-column: 5;
    grid-row: 4 / 5;
    justify-self: flex-end;
    align-self: center;
    scale: 0.4;
    color: #fba94b;
  }

  #workHeaderOverlay {
    height: 4em;
    grid-column: 1 / 7;
    grid-row: 9 / 10;
    background-color: #fba94b;
    opacity: 0;
  }

  #workHeader1 {
    grid-column: 3 / 5;
    grid-row: 9 / 10;
    align-self: center;
    font-size: 6rem;
    font-weight: 800;
    font-kerning: auto;
    padding-bottom: 0.15em;
  }

  #workHeader2 {
    grid-column: 2 / 6;
    grid-row: 11;
    justify-content: center;
    align-self: center;

    font-family: "Lexend Deca", sans-serif;
    /* font-family: "Roboto", sans-serif; */
    font-weight: 400;
    font-kerning: normal;
    font-size: 0.95rem;
    line-height: 1.25;

    color: #f7f3e3;
  }

  .wrapper #camera {
    background: url("img/camera.png");
    background-position: center;
    background-size: cover;
    grid-column: 2 / 6;
    grid-row: 16 / 18;
  }

  #box1 {
    grid-column: 5;
    grid-row: 15 / 16;
    justify-self: flex-end;
    align-self: flex-end;
  }

  #box2 {
    grid-column: 6;
    grid-row: 15 / 16;
    justify-self: flex-start;
    align-self: flex-end;
    padding: 1em;
  }

  #box3 {
    grid-column: 6;
    grid-row: 16 / 17;
    justify-self: flex-start;
    align-self: flex-start;
  }

  #box4 {
    grid-column: 1;
    grid-row: 17 / 18;
    justify-self: flex-end;
    align-self: flex-end;
  }

  #box5 {
    grid-column: 1;
    grid-row: 18 / 19;
    justify-self: flex-end;
    align-self: flex-start;
  }

  #box6 {
    grid-column: 2;
    grid-row: 18 / 19;
    justify-self: flex-start;
    align-self: flex-start;
  }

  #projectDescription {
    grid-column: 1 / 7;
    grid-row: 19 / 20;
    font-size: 1.5rem;

    justify-self: center;
    align-self: center;
    color: #fba94b;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
  }

  #projectParagraph {
    grid-column: 2 / 6;
    grid-row: 20 / 21;
    justify-self: center;
    align-self: flex-start;
    color: #f7f3e3;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
  }
}
